.alia{
    background-color: red;
}
.vs{
    background-color: yellow;
}
.vijay{
    background-color: blue;
}
.ks{
    background-color: green;
}
.sp{
    background-color: pink;
}
.sam{
    background-color: brown;
}
.abc{
    background-color: aqua;
}
#xyz{
    background-color: blueviolet;
}